.homeImgContent {
    width: 100%;
    height: 80vh;
}
.homeTitleBoxContent {
    position: absolute;
    display: inline-block;
    flex-direction: column;
    text-align: center;
    padding-top: 20vh;
    width: 100%;
    height: 60vh;
    color: #fff;
    hr {
        height: 1vh;
        width: 50%;
        background-color: #fff;
        border-radius: 15px;
    }
    h1 {
        margin: 0;
        font-size: 7vw;
    }
    p {
        margin: 0;
        font-size: 4vw;
    }

}
.homeBannerContent {
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 60vh ;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    h3 {
        padding: 4vh;
        margin: 2px;
        font-size: 3vw;
        animation: introText 2s ease-in-out infinite
    }
}
@keyframes introText {
    0% {
        color: #000;
    }
    50% {
        color: #337AB7 ;
    }
    100% {
        color: transparent
    }
}
.homeImgHero {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background-color:  rgba(0, 0, 0, 0.9);
}
.homeFooterContent {
    background-color:  rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}